@font-face {
    font-family: KidsPlaceDemo-K70dX;
    src: url(./font/KidsPlaceDemo-K70dX.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    margin-bottom: auto;
    max-width: 100% !important;
  padding: 0;
}

html {
    font-size: 10px;
    font-family: "Robot";
    height: 100vh;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


/* navbar */
.nav-link {
    color: #30bf8a;
    background: white;
    border-radius: 20px;
    padding: 5px 10px;
    text-decoration: none !important;
    font-family:'Cinzel', serif !important;
    font-size: 15px;
    font-weight: 600;
  }
  
  .nav-link:hover{
    color: white;
    background-color: #30bf8a;
    border: solid 1px #30bf8a;
  }
  
  .navbar-toggler img{
    width: 35px;
  }
  
  #navbarToggle {
    outline: none !important;
    margin: 5px;
  }

/* any anchor tag */
a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 2rem 0;
}

/* title */
.heading {
    text-decoration: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: white;
    position: relative;
    font-family:'Cinzel', serif !important;
    font-weight: 500;
}

/* under title */
.heading::after {
    content: "";
    width: 10rem;
    height: .8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

/* cards */
.card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-bottom: 120px;
}

.card {
    width: 32rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0.0.0.0.2);
}

.card .card-img {
    width: 100%;
    height: 26rem;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
}

/* profile picture */
.profile-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 999;
    border: 1rem solid #30bf8a;
    
}

/* name */
.card h1 {
    font-size: 2.3rem;
    color: #333;
    margin: 1.5rem 0;
    font-family:'Cinzel', serif !important;
}

/* job title */
.job-title {
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
}

/* about text */
.about {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
}

/* contact button */
.card .btn {
    padding: 1rem 2.5rem;
    background-color: #445ae3;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.4rem;
    transition: all .5s;
}

.card .btn:hover {
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgba(0.0.0.2);
}

.card .btn:active {
    transform: translateY(0);
    box-shadow: none;
}

/* social media icons */
.social-media {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0,0,0,.1);
}

.social-media i {
    font-size: 3rem;
    transition: color .5s;
}

.fa-linkedin-in{
    color: #0072b1;
}

.fa-github {
    color: black;
}

.fa-envelope {
    color: black;
}

.fa-linkedin-in:hover,
.fa-github:hover,
.fa-envelope:hover {
    color: #30bf8a;
    transform: translateY(-2px);
}

/* wave */
.waves svg{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    animation-name: move-left;
    animation-duration: 4s; 
    animation-direction: alternate;
    z-index: 1;
    
  }
  .spacer{
    height: 100px;
    width: 100%;
  }

  footer{
      width: 100%;
      
  }
  
  @keyframes example {
    0%   {
      left:0px;
      top:0px;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.18)}
    
    50%  {
      left:-2000px;
      top:200px;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.18)}
    
    100% {
      left:0px; 
      top:0px;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.18)
    }
  }

  @media screen and (max-width: 768px) {
    .waves  {
      visibility: hidden;
    }
  }

@media screen and (min-width: 700px) {
    .card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card {
        margin: 2rem;
        transition: transform .5s;
    }

    @keyframes fadeIn {
        from{
            opacity: 0;
        }
        top {
            opacity: 1;
        }
    }

    .card:nth-child(1) {
        animation: fadeIn .1s 1s backwards;
    }

    .card:nth-child(2) {
        animation: fadeIn .1s 1s backwards;   
    }

    .card:nth-child(3) {
        animation: fadeIn .1s 1s backwards;   
    }

}