:root {
    --font-roboto: "Roboto", Arial, sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
  
    --athens-gray: #e9e8ec;
    --dune: #242221;
    --dune-rgba-2: rgba(36, 34, 33, 0.2);
    --dune-rgba-5: rgba(36, 34, 33, 0.5);
    --alabaster: #f8f8f8;
    --silver: #c7c7c7;


  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    min-width: 320px;
    background-color: var(--athens-gray);
    font-family: var(--font-roboto);
    font-size: 16px;
    color: var(--dune);
  }

    /* Navbar */
.nav-link{
      color: #30bf8a;
      background: white;
      border-radius: 20px;
      padding: 5px 10px;
      text-decoration: none !important;
      font-family:'Cinzel', serif !important;
      font-size: 15px;
      font-weight: 600;
}

.nav-link:hover{
  color: white;
  background-color: #30bf8a;
  border: solid 1px #30bf8a;
}

#navbarToggle {
  outline: none !important;
  margin: 5px;
  text-decoration: none !important;
}
.nav-item{
  margin-bottom: 1rem;
    }

/* kids name */
#display-name {
  color: green;
}

ul,
ol {
    list-style-type: none;
  }
  
h1 {
  font-size: 2.4rem;
  font-family:'Cinzel', serif !important;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family:'Cinzel', serif !important;
    color: green;
  }
  
  h3 {
    font-size: 2rem;
    font-family:'Cinzel', serif !important;
  }
  
  h4,
  h5,
  h6 {
    font-size: 1.8rem;
    font-family:'Cinzel', serif !important;
  }
  
p {
  font-family:'Cinzel', serif !important;
  font-weight: 600;
}

.days {
  font-family:'Cinzel', serif !important;
}
  

  
  
  
  
  button {
    padding: 0.85rem;
    background-color: white;
    border: 0;
    color: var(--dune);
    cursor: pointer;
  }
  
  
  
  @media (max-width: 1800px) {
    h1 {
      font-size: 2rem;
    }
  /* KID NAME */
    h2 {
      font-size: 1.85rem;
    }

  }
  
  @media (max-width: 1200px) {
    h1 {
      font-size: 1.8rem;
    }
  
    h2 {
      font-size: 1.65rem;
    }
  
    h3 {
      font-size: 1.4rem;
    }
  /* CHORE NAME */
    h4{
      font-size: 1.35rem;
    }
  }
  
  @media (max-width: 992px) {
    h1 {
      font-size: 1.6rem;
    }
  
    h2,
    h3 {
      font-size: 1.4rem;
    }
  /* CHORE NAME */
    h4{
      font-size: 1.2rem;
    }
  }
  
  /* Wrapper */
  
  .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }
  
  @media (max-width: 992px) {
    .wrapper {
      flex-wrap: wrap;
    }
  }
  
  
  /* Main */
  
  .main {
    width: calc(100% - 46.125rem);
    margin: 0 3.75rem 6rem 1.875rem;
  }
  
  @media (max-width: 1800px) {
    .main {
      width: calc(100% - 38.8125rem);
      margin: 0 3rem 6rem 1.5rem;
    }
  }
  
  @media (max-width: 1400px) {
    .main {
      width: calc(100% - 33.8125rem);
      margin: 0 2rem 6rem 1rem;
    }
  }
  
  @media (max-width: 1200px) {
    .main {
      width: calc(100% - 27.125rem);
    }
  }
  
  @media (max-width: 992px) {
    .main {
      width: 100%;
      order: 2;
      margin: 0 1rem 6rem 1rem;
    }
  }

  .main-title {
    color: white;
    
  }

  .main-title h1 {
    font-weight: 700;
  }
  

  .edit{
    padding: 0.85rem;
    background-color: white;
    border: 0;
    color: var(--dune);
    cursor: pointer;
  }

  .days label {
    font-weight: 700;
  }


  .days{
    color: white;  
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  #chore_input{
    display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  
  }
  .add-chore{
    
    background-color: #f8f8f8;
    color: green;
    border-radius: 15px;
    margin-top: 8px;
    margin-right: 5px;
    
  }

  .add-chore:hover {
    text-decoration: none;
    color: #ffffff;
    background: #30bf8a;
    border: 3px solid white;

  }

  #name{
    border-radius: 25px;
    width: 70%;
    border: none;
    text-align:center ;
    text-decoration: none;
    outline: none;
  }

  .points{
    font-family:'Cinzel', serif !important;
  }
  .points label{
    font-family:'Cinzel', serif !important;
  }

  /* Section */
  .section__title{
      color: white;
  }
  .section__subtitle{
      color: white;  
      width: 100%;
      text-align: center;
  }
  
  .section:not(:last-child) {
    margin-bottom: 4rem;
  }
  
  .section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .section__link {
    font-size: 1.2rem;
  }
  
  .section__link:focus {
    outline: none;
    color: var(--blue-violet);
  }
  
  .section__button {
    padding: 0.85rem 2rem;
    margin: 0 0.6rem;
    background-color: var(--alabaster);
    font-size: 0;
    border-radius: 10px;
  }
  
  .section__button--painted {
    background-color: var(--dune);
  }
  
  .section__button svg {
    width: 2rem;
  }
  
  .section__button--painted svg path {
    fill: var(--alabaster);
  }
  
  .section__button--painted:focus {
    box-shadow: 0 0 0 3px var(--dune-rgba-5);
  }
  
  @media (hover: hover) {
    .section__button:hover {
      background-color: var(--true-v);
    }
  
    .section__button:hover svg path {
      fill: var(--alabaster);
    }
  }
  
  @media (max-width: 1800px) {
    .section__link {
      font-size: 1rem;
    }
  
    .section__button {
      padding: 0.75rem 1.5rem;
    }
  }
  
  @media (max-width: 1400px) {
    .section__button {
      padding: 0.65rem 1.25rem;
    }
  
    .section__button svg {
      width: 1.8rem;
    }
  }
  
  @media (max-width: 992px) {
    .section:not(:last-child) {
      margin-bottom: 2rem;
    }
  
    .section__header {
      margin-bottom: 1rem;
    }
  }
  
  @media (max-width: 768px) {
    .section__button {
      padding: 0.6rem;
      margin: 0 0.3rem;
    }
  }
  
  
  
  /* Photo */
  
  .photo {
    display: flex;
    align-items: center;
    margin-left: -3px;
  }
  
  .photo__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: -12px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--alabaster);
    background-color: var(--dune);
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .photo__substrate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--alabaster);
    transition: color 0.3s ease;
  }
  
  @media (max-width: 1800px) {
    .photo__item {
      width: 3rem;
      height: 3rem;
    }
  }

  
  /* Project */
  
  .project__item:not(:last-child) {
    margin-bottom: 1.2rem;
    
  }
  
  .project__link {
    position: relative;
    display: block;
    width: 100%;
    background-color: var(--alabaster);
    padding: 1.5rem 0.7rem;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    background-color: rgba(255,255,255, 0.8);
    box-shadow: 0 0 40px 2px rgba(57, 58, 60, 0.18);
   
  }
  .project__link.focus--box-shadow {
  
    outline: none;
    text-decoration: none;
  }
  
.project__link:active{
    text-decoration: none;
}
     
    

  
  .project__element {
    padding: 0 0.8rem;
  }
  
  
  @media (max-width: 1800px) {
    .project__link {
      padding: 1.2rem 0.7rem;
    }
  
    .project__element {
      padding: 0 0.5rem;
    }
  
    .project__inform-name {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 2400px) {
    .project__wrapper {
      flex-wrap: wrap;
    }
  
  
  /* Status */
  
  .status {
    font-size: 1.2rem;
  }
  
  @media (max-width: 1800px) {
    .status {
      font-size: 1rem;
    }
  }
  
  
  /* Aside */
  
  .aside {
    width: 30rem;
    background-color: rgba(255,255,255, 0.8);
    padding: 3.05rem 1.875rem;
    margin-top: 3% !important;
    margin-bottom: 10%;
    border-radius: 25px;
    box-shadow: 0 0 40px 2px rgba(57, 58, 60, 0.18) ;
  }
  
  .aside__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -0.3rem 4rem;
    
  }
  
  .aside__button {
    position: relative;
    padding: 0.3rem;
    font-size: 0;
    border-radius: 10px;
  }
  
 @media (max-width: 1800px) {
    .aside {
      width: 27rem;
      padding: 2.5rem 1.5rem;
      
    }
  } 
  
 @media (min-width: 1400px) {
    .aside {
        width: 30rem;
        background-color: rgba(255,255,255, 0.8);
        padding: 3.05rem 1.875rem;
        margin-top: 3% !important;
        margin-bottom: 10%;
        border-radius: 25px;
        box-shadow: 0 0 40px 2px rgba(57, 58, 60, 0.18) ;
      }
}
 
  @media (max-width: 992px) {
    .aside {
      width: 100%;
      order: 1;
      padding: 2rem 1rem 4rem;
    }
  } 
  
  /* Profile main */
  
  .profile-main {
    margin-bottom: 6rem;
    text-align: center;
  }
  
  .profile-main__setting {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .profile-main__photo {
    width: 100%;
    
  }
  
  @media (max-width: 1800px) {
    .profile-main__setting {
      max-width: 250px;
    }
  }
  
  @media (max-width: 1400px) {
    .profile-main {
      margin-bottom: 4rem;
    }
  
    .profile-main__setting {
      max-width: 225px;
    }
  }
  
  /* Statistics */
  
  .statistics {
    margin-bottom: 4rem;
  }
  
  .statistics__entry {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0.5rem;
  }
  
  .statistics__entry:not(:last-child) {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--athens-gray);
  }
  
  .statistics__entry-description,
  .statistics__entry-quantity {
    font-size: 1.5rem;
  }
  
  .statistics__entry-description:focus {
    outline: none;
    color: var(--blue-violet);
  }
  
  .statistics__entry-quantity {
    font-weight: var(--font-weight-medium);
  }
  
  @media (max-width: 1800px) {
    .statistics__entry {
      padding: 1rem 0.5rem;
    }
  
    .statistics__entry-description,
    .statistics__entry-quantity {
      font-size: 1.3rem;
    }
  }
  
  @media (max-width: 992px) {
    .statistics {
      max-width: 480px;
      margin: 0 auto 3rem;
    }
  
    .statistics__entry {
      padding: 0.75rem 0.35rem;
    }
  
    .statistics__entry-description,
    .statistics__entry-quantity {
      font-size: 1.1rem;
    }
  }
  
}






