<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/public/about-us.css">
    <title>Parently</title>
</head>
<body>
    <section>
        <div class="container">
            <h1 class="heading">Meet the Team</h1>
            <div class="card-wrapper">
                <div class="card">
                    <img src="/public/images/sp.jpg" alt="background" class="card-img">
                    <img src="/public/images/alessandra.JPG" alt="profile" class="profile-img">
                    <h1>Alessandra Burckhalter</h1>
                    <p class="job-title">Software Developer</p>
                    <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde tempore hic ratione temporibus. Ipsa, aspernatur illum aut maiores in molestias nemo provident voluptatum voluptatem odio iste, vel impedit molestiae? Inventore.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="/public/images/houston.jpg" alt="background" class="card-img">
                    <img src="/public/images/derek.png" alt="profile" class="profile-img">
                    <h1>Derek James</h1>
                    <p class="job-title">Software Developer</p>
                    <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde tempore hic ratione temporibus. Ipsa, aspernatur illum aut maiores in molestias nemo provident voluptatum voluptatem odio iste, vel impedit molestiae? Inventore.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="/public/images/atl.jpg" alt="background" class="card-img">
                    <img src="/public/images/vincent.png" alt="profile" class="profile-img">
                    <h1>Vincent Robinson</h1>
                    <p class="job-title">Software Developer</p>
                    <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde tempore hic ratione temporibus. Ipsa, aspernatur illum aut maiores in molestias nemo provident voluptatum voluptatem odio iste, vel impedit molestiae? Inventore.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
</html>