<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/about-us.css">
    <title>Parently</title>
</head>

<body style="background: linear-gradient(to right, #48baf9,#30bf8a);">

<!-- starting navbar -->
  <div class="container menu">
    <div class="row">
      <div class="col-sm-12 ">

  <nav class="navbar navbar-expand-md ">

    <!--  Show this only on mobile to medium screens  -->
      <a class="navbar-brand d-md-none " href="#"><img src="/images/logo3.png" alt=""></a>
    
      <!-- toggle button image -->
      <button class=" btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-justify" fill="white" xmlns="http://www.w3.org/2000/svg">              <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/></svg>
      </button>
    
      
    <!--  Use flexbox utility classes to change how the child elements are justified  -->
      <div class="collapse navbar-collapse justify-content-between " id="navbarToggle">
    
        <ul class="navbar-nav navbar-center nav justify-content-center">
          
          <li class="nav-item px-5">
            <a class="nav-link nav-link-1" href="/">Welcome</a>
          </li>

          <li class="nav-item px-5">
            <a class="nav-link nav-link-1" href="/child">Child Login</a>
          </li>

        </ul>
        
    <!--   Show this only lg screens and up   -->
        <a class="navbar-brand d-none d-md-block mr-0" href="/"><img class="img-responsive" src="/images/logo3.png" alt=""></a>
        
        <ul class="navbar-nav navbar-center nav justify-content-center">

          <li class="nav-item px-5 ">
            <a class="nav-link nav-link-1" href="/login">Parent Login</a>
          </li>

          <li class="nav-item px-5 ">
            <a class="nav-link nav-link-1" href="/register">Sign Up</a>
          </li>
          
        </ul>
      </div>
    </nav>
  </div>
</div>  
</div>


    <section>
        <div class="container">
            <h1 class="heading">Meet the Team</h1>
            <div class="card-wrapper">

                <div class="card">
                    <img src="/images/sp.jpg" alt="Sao Paulo city" class="card-img">
                    <img src="/images/alessandra.JPG" alt="profile picture" class="profile-img">
                    <h1>Alessandra Burckhalter</h1>
                    <p class="job-title">Software Engineer</p>
                    <p class="about">Alessandra is a passionate front-end developer based in Atlanta. Currently enrolled in a full stack web development program at DigitalCrafts. Alessandra is bilingual in spoken languages, and multilingual in programming languages. She loves being able to use her creativity to make things nicer and more fun for her and those around her.</p>
                    <a href="https://www.linkedin.com/in/alessandra-burckhalter/" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="https://www.linkedin.com/in/alessandra-burckhalter/"><i class="fab fa-linkedin-in"></i></a></li>

                        <li><a href="https://github.com/alessandraburckhalter"><i class="fab fa-github"></i></a></li>

                        <li><a href="mailto:ale.lptc@gmail.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="/images/houston.jpg" alt="Houston city" class="card-img">
                    <img src="/images/derek.png" alt="profile picture" class="profile-img">
                    <h1>Derek James</h1>
                    <p class="job-title">Software Engineer</p>
                    <p class="about">Derek is an Houston base software engineer that began coding in 2020. Previously before this he worked in the healthcare industry in financial services. He has a knack for front end JavaScript and dedicates his free time to improve his back end skills. His free time is spent practicing coding, building computers, and occasionally playing basketball.</p>
                    <a href="https://www.linkedin.com/in/derek-james-40287610b/" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="https://www.linkedin.com/in/derek-james-40287610b/"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://github.com/Derekjames93"><i class="fab fa-github"></i></a></li>
                        <li><a href="mailto:derekjames4610@gmail.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>

                <div class="card">
                    <img src="/images/atl.jpg" alt="Atlanta city" class="card-img">
                    <img src="/images/vincent.png" alt="profile picture" class="profile-img">
                    <h1>Vincent Robinson</h1>
                    <p class="job-title">Software Engineer</p>
                    <p class="about">Vincent is an Atlanta base software engineer that has been coding since 2019. Vincent mainly focuses on the front-end and design portion of projects. He spends most of his free time working on personal projects and open source work, while still making time for a soccer game. Go Atlanta United!!<br><br></p>
                    <a href="https://www.linkedin.com/in/vincentarobinson/" class="btn">Contact</a>
                    <ul class="social-media">
                        <li><a href="https://www.linkedin.com/in/vincentarobinson/"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://github.com/Varobinson"><i class="fab fa-github"></i></a></li>
                        <li><a href="mailto:vincentrobinsonjr97@gmail.com"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- bottom wave -->
    <div class="waves">
      <svg width="100%" height="200px" fill="#a6f6f1" version="1.1"
       xmlns="http://www.w3.org/2000/svg">
        <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" stop-color="#a6f6f1" />
          <stop offset="50%" stop-color="#a6f6f1" />
          <stop offset="100%" stop-color="#a6f6f1" />
        </linearGradient>
        <path 
          fill="url(#grad1)" 
          d="
            M0 67
            C 273,183
              822,-40
              1920.00,106 
            
            V 359 
            H 0 
            V 67
            Z">
          <animate 
            repeatCount="indefinite" 
            fill="url(#grad1)" 
            attributeName="d" 
            dur="15s"
            attributeType="XML"
            values="
              M0 77 
              C 473,283
                822,-40
                1920,116 
              
              V 359 
              H 0 
              V 67 
              Z; 
  
              M0 77 
              C 473,-40
                1222,283
                1920,136 
              
              V 359 
              H 0 
              V 67 
              Z; 
  
              M0 77 
              C 973,260
                1722,-53
                1920,120 
              
              V 359 
              H 0 
              V 67 
              Z; 
  
              M0 77 
              C 473,283
                822,-40
                1920,116 
              
              V 359 
              H 0 
              V 67 
              Z
              ">
          </animate>
        </path>
      </svg>
    </div>

   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
</body>
</html>